<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704919106764-5k171bet3uvlrjnaqt8ojvfkl5bd64cl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704919106764-5k171bet3uvlrjnaqt8ojvfkl5bd64cl</string>
	<key>API_KEY</key>
	<string>AIzaSyDIvIqIbEf9MIukLDLiaaDR55xlFCM0VFA</string>
	<key>GCM_SENDER_ID</key>
	<string>704919106764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>srgk.PuppyStep</string>
	<key>PROJECT_ID</key>
	<string>petst-3865f</string>
	<key>STORAGE_BUCKET</key>
	<string>petst-3865f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704919106764:ios:a51a101fc8024035df3e69</string>
	<key>DATABASE_URL</key>
	<string>https://petst-3865f.firebaseio.com</string>
</dict>
</plist>